<div class="container col-md-6 col-md-offset-3">
    <h3>用户登录</h3>
    <div class="alert alert-danger" role="alert" ng-show="nameError">用户名或密码错误</div>
    <form name="userform" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="control-label">用户名:</label>
            <div class="input-group" ng-class="{'has-error':userform.username.$dirty && userform.username.$invalid,'has-success':userform.username.$dirty && userform.username.$valid}">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" ng-model="username" name="username"  id="username" placeholder="请输入您的用户名"  aria-describedby="basic-addon1"  required autocomplete="off"/>
            </div>
            <p class="help-block" ng-show="userform.username.$dirty && userform.username.$invalid" style="color:red">
                <span ng-show="userform.username.$error.required">用户名不能为空</span>
            </p>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">密码:</label>
            <div class="input-group" ng-class="{'has-error':userform.password.$dirty && userform.password.$invalid,'has-success':userform.password.$dirty && userform.password.$valid}">
                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-star-empty"></span></span>
                <input type="password" class="form-control" ng-model="password" name="password" placeholder="请输入您的密码" id="password" ng-minlength="6" ng-maxlength="12" autocomplete="off" aria-describedby="basic-addon2" required/>
            </div>
            <p class="help-block" ng-show="userform.password.$dirty && userform.password.$invalid" style="color:red">
                <span>密码必须在6到12位之间</span>
            </p>
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-disabled="userform.$pristine || (userform.$dirty && userform.$invalid)" ng-click="loginEvent('/main')">登录</button>
            <button class="btn btn-info pull-right" ui-sref="register">去注册</button>
        </div>
    </form>
</div>




